nav {
  text-align: center;
  border: 2px solid black;
  margin: 5px;
  float: right;
  width: 80%;
  font-size: 35px;
  padding-top: 10px;
  padding-bottom: 10px;
}

nav a {
  margin: 15px;
  display: inline-block;
}

a:link {
  text-decoration: none;
  color: black;
}

a:visited {
  color: black;
}

a:hover {
  color: green;
}

a:active {
  color: green;
}

#maincolumn {
  float: left;
  width: 75%;
  border: 2px solid black;
  margin: 5px;
  padding: 20px;
  font-size: 20px;
}

h3 {
  font-size: 30px;
}

body {
  padding: 5px;
  margin: 5px;
  background-color: #6E5334;
}

img[src="images/green-food-truck.jpg"] {
  float: right;
  padding-left: 10px;
}

#legumes {
  color: green;
  font-size: 25px;
  font-family: fantasy;
}
