@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Ubuntu:400,300,300italic,400italic,500,500italic,700,700italic);

img[src="images/Food_Truck_Logo2.png"] {
  margin: 0;
  position: absolute;
}

nav {
  text-align: center;
  border: 2px solid black;
  float: right;
  width: 85%;
  font-size: 35px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #957856;
}

nav a {
  margin: 20px;
  display: inline-block;
}

a:link {
  text-decoration: none;
  color: black;
}

a:visited {
  color: black;
}

a:hover {
  color: green;
}

a:active {
  color: green;
}

#maincolumn {
  float: left;
  width: 75%;
  border: 2px solid black;
  margin: 5px;
  padding: 20px;
  font-size: 20px;
  margin-top: 0;
  background-color: #957856;
}

#Timeline {
  width: 20%;
  float: right
}

#menucolumn {
  float: left;
  border: 2px solid black;
  margin: 5px;
  padding: 20px;
  font-size: 20px;
  margin-top: 0;
  background-color: #957856;
}

#Appetizers {
  float: left;
  border: 2px solid black;
  margin: 5px;
  padding: 20px;
  font-size: 20px;
  margin-top: 5px;
  background-color: #E1CAB0;
}

#Appetizers p {
  width: 32%;
  float: left;
  padding: 5px;
}

#Soups {
  float: left;
  border: 2px solid black;
  margin: 5px;
  padding: 20px;
  font-size: 20px;
  margin-top: 5px;
  background-color: #E1CAB0;
}

#Soups p {
  width: 32%;
  float: left;
  padding: 5px;
}

#Sandwiches {
  float: left;
  border: 2px solid black;
  margin: 5px;
  padding: 20px;
  font-size: 20px;
  margin-top: 5px;
  background-color: #E1CAB0;
}

#Sandwiches p {
  width: 35%;
  float: left;
  padding-left: 5px;
}

#BeanRice {
  float: left;
  border: 2px solid black;
  margin: 5px;
  padding: 20px;
  font-size: 20px;
  margin-top: 5px;
  background-color: #E1CAB0;
}

#BeanRice p {
  width: 30%;
  float: left;
  padding-left: 5px;
  padding-right: 30px;
}

h1 {
  font-size: 50px;
  padding: 0;
  margin: 0;
  text-align: center;
  color: green;
}

h2 {
  font-size: 25px;
  padding: 0;
  margin: 0;
  text-decoration: underline;
}

h3 {
  font-size: 30px;
}

body {
  padding: 5px;
  margin: 5px;
  background-color: #E1CAB0;
  font-family: Ubuntu;
}

img[src="images/green-food-truck.jpg"] {
  float: right;
  padding-left: 15px;
}

#legumes {
  color: green;
  font-size: 25px;
  font-family: fantasy;
}
